*{
  box-sizing: border-box;
}
.user_center img {
  display: none;
}
.user_center i{
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #009688;
  vertical-align: middle;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.userinfo{
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 40px;
}
.userinfo img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: none;
}
.userinfo p {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #009688;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}
.userinfo span {
  margin-left: 10px;
  font-size: 12px;
}
.userinfo i {
  display: inline-block;
  width: 80px;
  font-style: normal;
  padding-left: 5px;
  overflow: hidden;
  vertical-align: bottom;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.layui-body {
  overflow: hidden;
}
/* 字体图标 */
.iconfont{
  margin-right: 8px;
}
.layui-icon {
  margin: 0 5px 0 15px;
}