html,body{
  height: 100%;
}
body {
  position: relative;
  background-image: url(../images/login_bg.jpg);
  background-size: cover;
  box-sizing: border-box;
}
header{
  width: 1200px;
  margin: 0 auto 0;
  padding-top: 20px;
}
.main {
  position: absolute;
  width: 400px;
  height: 310px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.main .head{
  height: 60px;
  background: url(../images/login_title.png) no-repeat center;
}
.main .body{
  padding: 0 30px;
}
.main .body .layui-form-item{
  position: relative;
}
.body .layui-form-item input {
  padding-left: 32px;
}
.main .body i {
  position: absolute;
  top: 10px;
  left: 10px;
}
.layui-btn {
  width: 100%;
}
.form_login{
  display: block;
}
.form_register{
  display: none;
}

.link_register,
.link_login{
  float: right;
}