body {
  background-color: #f2f3f5;
  padding: 15px;
}
.layui-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form_add,
.form_edit{
  padding-right: 30px;
  margin-top: 20px;
}